.App {
  text-align: center;
width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  position: absolute;
}




/* ====================Rooms List/user left=================== */

.side {

  background-color: lightslategray;
 
  border-right: solid 1px;
}

h1 {
  font-size: 2em;
  padding:3% 0 6% 0;
  margin: 5% 0 10% 0;
  text-align: center;

}

.user{
margin-bottom: 22%;
}

.user-name{
  margin-bottom: 8%;
}

.user button{
  margin: 0 4%;
}
.user button, #room-submit, #message-submit{
  padding: 1%;
  border-radius: 5%;
  text-align: center;
}

.room-form{
  width: 80%;
  margin: 0 auto; 
  margin-bottom: 4%; 
}
#room-name{
  margin-left: 5px;
  width: 50%;
  outline: none;
}

#room-name:focus{
  border: 3px solid #ccc;
}

#room-submit{
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  
}
.rooms-list {
  list-style: none;
  padding: 10%;
  width: 80%;
  margin: 0 auto;
}

.rooms-list li {
  padding: 10%;
  text-align: left;
  font-size: 1.2em;

}

.rooms-list li:active, .rooms-list li:visited{
  background-color: red;
}

/* ======================Message List right====================== */

.messageList {
  text-align: left;
  flex-grow: 2;
  margin-top: 4%;
  height: 100%;
}

.current-room{
  margin-left: 4%;
}
.messages-container{
  margin: 6% 0 0 0;
}

.message-content {
  margin-bottom: 10px;
  width: 75%;
 float: left;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.message-data{
  
  padding: 4%;
}

.message:nth-child(odd){
  background-color: #eee;
}
.message-username {

}

.timeStamp {
 
 float: right;

}

.new-message{
  width: 100%;
  position:static;
  bottom: 0;
}
.message-form{
  width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    webkit-flex-flow: row nowrap;
  position:static;
  bottom: 0;
  margin: 0;
  padding: 0;
}

#message-text{
  height: 60px;
  width: 100%;
  outline: none;
  overflow: auto;
  resize: none;
}
#message-text:focus{
  border: 3px solid #aaa;
}
#message-submit{
  background-color: #222;
  color: antiquewhite;
}