.App {
  text-align: center;
height: 100vh;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
}




/* ====================Rooms List/user left=================== */

.side {
  height: 100%;
  background-color: lightslategray;
  
  border-right: solid 1px;
}

h1 {
  font-size: 2em;
  padding:3% 0 6% 0;
  margin: 5% 0;
  text-align: center;

}

.user{
margin-bottom: 10%;
}

.user-name{
  margin-bottom: 5%;
}

.user button{
  margin: 0 4%;
}
.user button, #room-submit{
  padding: 1%;
  border-radius: 5%;
  text-align: center;
}

.room-form{
  width: 80%;
  margin: 0 auto; 
  margin-bottom: 5%; 
}
#room-name{
  margin-left: 5px;
  width: 50%;
}

#room-submit{
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  
}
.rooms-list {
  list-style: none;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

.rooms-list li {
  padding: 5px;
  text-align: left;

}

.rooms-list li:active, .rooms-list li:visited{
  background-color: red;
}

/* ======================Message List right====================== */

.messageList {
  text-align: left;
  flex-grow: 2;
  margin-top: 4%;
}

.current-room{
  margin-left: 4%;
}
.messages-container{
  margin: 6% 0 0 0;
}
.message-content {
  margin-bottom: 10px;
 
}

.message-data{
  clear: both;
  padding: 4%;
}

.message:nth-child(odd){
  background-color: #eee;
}
.message-username {

}

.timeStamp {
 
 float: right;

}